.ipynb_checkpoints
01_Python_Fundamentals
02_Python_Data_Types
03_Python_intermediate_lists_and_strings
04_Python_Functions
05_Python_Conditional_Expressions
06_Slicing_Built-in_Functions_and_Loops
07_Loops
08_Python_File_IO
09_Python_Standard_Libraries
10_Python_Dictionary_Sets
11_args_kwargs
12_Sorting
13_Python_Debugging
14_Number_Systems
15_Python_OOP
16_Python_Networking
17_Python_Regexes